/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #416683;
  --ifm-color-primary-dark: #3a5c76;
  --ifm-color-primary-darker: #37576f;
  --ifm-color-primary-darkest: #2d475c;
  --ifm-color-primary-light: #487090;
  --ifm-color-primary-lighter: #4b7597;
  --ifm-color-primary-lightest: #5585aa;
  --ifm-color-success-contrast-background: #5c85a534;
  --ifm-color-success-dark: #416683;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6b95b6;
  --ifm-color-primary-dark: #5887ac;
  --ifm-color-primary-darker: #5180a5;
  --ifm-color-primary-darkest: #436987;
  --ifm-color-primary-light: #7ea3c0;
  --ifm-color-primary-lighter: #88aac4;
  --ifm-color-primary-lightest: #a5bfd3;
  --ifm-color-success-contrast-background: #7ea5c238 !important;
}

/* Remove the DocCard icon (the little document) on generated index pages */
[class*="DocCard"] [class*="cardIcon"],
[class*="docCard"] [class*="cardIcon"],
[class*="cardHeader"] > [class*="cardIcon"] {
  display: none !important;
}

/* Extra safety: if some themes render the icon as the first child in the header */
[class*="cardHeader"] > :first-child {
  /* The first child is the icon span in default theme */
  display: none !important;
}

img {
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0px;
}
